{
	"plugins": [
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"css",
					"python",
					"markup"
				],
				"plugins": [
					"line-numbers"
				],
				"theme": "default",
				"css": true
			}
		]
	]
}
